/*Library Page - Align Posters to Center */
.padded-right-withalphapicker {
  padding-right:1.75% !important;
  padding-left:1.75% !important;
}

/*Green Indicators*/
.playedIndicator {background: rgba(93, 208, 0, 0.90);}
/* Make count indicator icon red */
.countIndicator {background: rgba(208, 93, 70, 0.90);}

/*YELLOW BUTTONS*/
.headerRight {
  color: yellow;
}
.headerLeft {
  color: yellow;
}
/*YELLOW LEFT DRAWER*/
.mainDrawer-scrollContainer {
  color: yellow;
}

/* Yellow Hover and Played Checkmark */
.paper-icon-button-light:hover, .raised.homeLibraryButton:hover, .button-flat:hover, .playstatebutton-icon-played, .ratingbutton-icon-withrating, .paper-icon-button-light:hover:not(:disabled), .emby-tab-button:hover, .selectLabelFocused, .inputLabelFocused, .textareaLabelFocused, .buttonActive, .button-link {
	color: yellow !important;
}


/* Hide "please login" text */
#loginPage h1 {
  display: none;
}
