/*Library Page - Align Posters to Center */
.padded-right-withalphapicker {
  padding-right:1.75% !important;
  padding-left:1.75% !important;
}

/*Green Indicators*/
.playedIndicator {background: rgba(93, 208, 0, 0.90);}
/* Make count indicator icon red */
.countIndicator {background: rgba(208, 93, 70, 0.90);}

/*YELLOW BUTTONS*/
.headerRight {
  color: yellow;
}
.headerLeft {
  color: yellow;
}
/*YELLOW LEFT DRAWER*/
.mainDrawer-scrollContainer {
  color: yellow;
}

/* Yellow Hover and Played Checkmark */
/* PLAYED CHECKMARK*/
.playstatebutton-icon-played {
	color: yellow !important;
}
/* YELLOW HOVER ON EPISODE/SEASON BUTTON ICONS */
div.listViewUserDataButtons button:hover .material-icons,
div.cardOverlayContainer button:hover .material-icons,
div.mainDetailButtons button:hover .material-icons {
  color: yellow !important;
}


/* Hide "please login" text */
#loginPage h1 {
  display: none;
}
